.noTransactionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.noTransactionsContainer p {
    margin-bottom: 20px;
}

.createButton {
    text-decoration: none;
    background-color: #448859;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

.createButton:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.89);
}

.createButton:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.noTransactionsImg {
    height: auto;
    width: 17%;
}